.fade-in {
  animation: fade-in 0.3s ease-in-out both;
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }
}
.slide-in {
  animation: slide-in 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) both;
}

@keyframes slide-in {
  100% {
    opacity: 1;
    scale: 1;
    transform: translateX(0);
  }
}
.animated-feature {
  animation: animated-feature 0.4s ease-in-out both;
}

@keyframes animated-feature {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.about-row-animation {
  animation: about-row-animation 0.3s ease-in-out both;
}

@keyframes about-row-animation {
  100% {
    transform: translateY(0);
  }
}
